*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Quicksand", sans-serif;
}

header{
    width: 90%;
    height: 180px;
    background-color: rgb(255, 255, 255);
    margin: 0 auto;
    text-align: center;
}

header a{
    text-decoration: none;
    color: rgb(0, 0, 0);
    padding: 15px 20px;
}

header img{
    width: 200px;
    height: 100px;
    text-align: left;
}

.segundo {
    width: 90%;
    height: 50px;
    background-color: rgb(255, 255, 255);
    margin: 0 auto;
    justify-content: space-evenly; 
    padding: 20px;
}

.main-nav{
    width: 90%;
    height: 50px;
    background-color: rgb(255, 255, 255);
    margin: 0 auto;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    font-size: 25px;
}

.main-nav a{
    text-decoration: none;
    color: rgb(0, 0, 0);
    padding: 15px 20px;
    font-weight: bold;
    transition: all 1.0s ease;
}

.main-nav a:hover {
    padding: 5px 10px;
    background: #000000;
    color: rgb(255, 255, 255);
    border-radius: 15px;
}

main{
    width: 90%;
    height: 2000px;
    margin: 0 auto;
}

.main-sec{
    width: 90%;
    height: 450px;
    margin-top: 40px;
    margin-left: 30px;
    float: left;
}

.personaje {
    width: 90%;
    height: 350px;
    margin-top: 20px;
    margin-left: 33px;
    float: left;
}

.foto{
    width: 30%;
    height: 450px;
    float: left;
    text-align: center;
    margin-left: 33px;
}

.foto img{
    height: 100%;
}

.texto{
    width: 60%;
    height: 450px;
    background-color: #f2f2f4;
    float: left;
    padding: 30px;
    margin-left: 33px;
}

.texto h2{
    margin: 15px 0;
}


footer{
    width: 90%;
    height: 350px;
    margin: 0 auto;
}

footer section{
    width: 400px;
    height: 300px;
    background-color: rgb(0, 0, 0);
    float: left;
    margin-left: 60px;
    margin-top: 25px;
    padding: 20px;
    color: rgb(255, 255, 255);
}

footer section a{
    text-decoration: none;
    color: rgb(255, 255, 255);
}

@media screen and (max-width:1024px){

    header{
        width: 100%;
    }
    main{
        width: 100%;
    }
    .main-nav{
        width: 100%;
    }
    .main-sec{
        width: 100%;
    }
    .segundo {
        width: 100%;
    }
    .personaje {
        width: 100%;
        height: auto;
        margin-left: 0;
    }   
    footer{
        width: 100%;
    }
    footer section{
        width: 25%;
    }
}

@media screen and (max-width:768px){
    .foto{
        width: 30%;
        margin-left: 0%;
    }
    .texto{
        padding: 20px;
        margin-left: 3%;
    }

    section img{
        width: 100%;
        height: 100%;
    }
}

@media screen and (max-width:480px){
    section{
        height: auto;
    }
    .foto{
        width: 90%;
        margin-left: 5%;
    }
    .texto{
        width: 90%;
        height: auto;
        margin-left: 5%;
    }
}

